/*home page*/
html{
    background-color: black;
}


body{
    margin: auto;
    width: 1200px;
    padding: 40px;
    background-color: white;
}

p{
  font-family: 'Roboto', sans-serif;
}

h5{
  font-family: 'Roboto', sans-serif;
}

h6{
  font-family: 'Roboto', sans-serif;
}

/*header*/
header{
  z-index:1;
  position:relative;
}
h1{
    font-family: 'Vidaloka', serif;
}

#title{
  font-family: 'Vidaloka', serif;
  text-align: center;
  margin-top: -50px;
}



/*Modification du nav*/

#menuHM
{
  
  display: block;
  position: absolute;
  top: -5px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  font-family: 'Roboto', sans-serif;
}

#menuHM a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuHM a:hover
{
  color: #a6c6f3;
}

#menuHM input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

#menuHM span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #232323;;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuHM span:first-child
{
  transform-origin: 0% 0%;
}

#menuHM span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuHM input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuHM input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuHM input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -40px;
  padding: 50px;
  padding-top: 125px;
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased; 
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  opacity: 0;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuHM input:checked ~ ul
{
  transform: none;
  opacity: 1;
  text-decoration: none;
}

/*modification du navigateur secondaire*/

#nav2{
    margin-left: 62px;
}

#nav2 ul{
    list-style-type: none;
    list-style-type: none;
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    width: 142px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
 
}

/*modificatin search bar !!!!!!*/
.search{
    float: right;
    margin-right: 80px;
    margin-top: -55px;
    transition: margin-left 2s;
    border-radius: 30px;
    z-index: 2;
}

.search-in{
  width: 21px;
  border-radius: 30px;
  margin: 10px;
}

.search-in:hover{
  
  width: 400px;

}

.btnsearch{
 
  border-radius: 30px;
  margin-right: -70px;

}

/*partie de la secton*/

.clear{
  clear: both;
}

/*icon*/

.iconleft{

  margin-top: 100px;
  display: grid;
}

.fab {
  font-family: "Font Awesome 5 Brands";
  padding: 10px;
}
/*photo*/

.sg-photo{
  margin-top: -133px;
  margin-left: 172px;
  position:relative;
  width: 60%;
  z-index: 1;
}


/*div dregrader*/

#degrad{
  float: right;
  width: 520px;
  height: 440px;
  background-image: linear-gradient(60deg,rgb(201, 233, 241),rgb(172, 192, 240));
  margin-top: -710px;
  margin-right: -40px;
  position: relative;
  z-index: 0;
}

/*les numeros*/

.num-right{
  float: right;
  margin-top: -200px;
  margin-right: 181px;
  font-size: 10px;
}

.num-right li{
  padding: 10px; 
  
}
.num-right ol{
  list-style-type: none;
}
/* Police Derek Anderson*/
.derek{
  margin-left: 120px;
  color:  gray;
  position: absolute;
  z-index: 2;
  font-size: 40px;
  margin-top: -375px;

}
.derek h1{
  font-family: 'Montserrat', sans-serif;
}
.derek h6{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}
/*Lien profil*/
.viewProfile{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: -77px;
  width: 132px;
  text-align: center;
  color:white;
  text-transform: uppercase;
  background-color: #a6c6f3;
  padding: 20px;
}
.viewProfile p{
  font-size:10px;
  letter-spacing: .2rem;

}
.play{
  background-color:white;
  width: 72px;
  height: 72px;
  z-index: 3;
  position: relative;
  margin-left: 172px;
  margin-top: -72px;
}

.play i{
  padding: 13px;
font-size: 45px;
}
/*Menu actor,musician...*/
.menu{
  margin-top: 90px;
  margin-left: -100px;
}

.menu ul{
  width: 400px;
  text-align: justify;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.menu li{
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: .2rem;
  padding: 0 20px 0 20px;
  
}

.menu li:hover{

  border-bottom: 1px solid black;
  padding-bottom: 5px;
  
}

/*tout modification en rapport avec la gallery */

.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 80px; 
}


.imgafter{
  opacity: 0;
  margin-top: -426px;
  height: 400px;
}

.imgafter h4{
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-top: 315px;
}

.imgafter h5{
  font-family: 'Roboto', sans-serif;
  color: white;
  text-transform: uppercase;
}
  
.imgafter:hover{
 filter: opacity(100%);
 opacity: 1;
 margin-top: -426px;
 text-align: center;
 background-color: rgba(202, 234, 238, 0.9);
}

.fondimg img{
  width: 100%;
}

/*bouton sous la gallery*/

.buttongallery{
  margin: auto;
  width: 177px;
  padding: 20px;
  margin-top: 45px;
  border: 1px solid#a6c6f3;
  border-radius: 30px;
  text-align: center;
  background-color:#a6c6f3;
}

.buttongallery a {
  text-decoration: none;
  font-size:15px;
  letter-spacing: .1rem;
  color:white;
  font-family:'Roboto', sans-serif ;
}

/*titre stories*/

.stories{
  margin: auto;
  width: 330px;
  font-size: 35px;
}

.stories h1{
  font-family: 'Montserrat', sans-serif;
}

/*line sous stories*/

.line{
  border-bottom: 2px solid black;
  width: 140px;
  margin: auto;
  margin-bottom: 25px;
}

/*la partie article*/

.contener{
  display: flex;
  justify-content: center;
}

.contphoto{
  width: 400px;
}

.contener img{
  width: 20%;
}

.fondblue{
  width: 90px;
  height: 75px;
  background-color: #a6c6f3;
}

.wrap{
  width: 239px;
  float: right;
  margin-top: -22px;
  margin-right: 65px;
}

.wrap1{
  width: 221px;
  float: left;
  margin-top: -97px;
  margin-left: 110px;
}


/*derniere gallery de la page*/

.parent{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}


.child1{
  grid-column-start: 1;
  grid-column-end: 3;
}
.child1 img{
  width:50%;
  
}

.textleft{
  float:left;
  background-color: #a6c6f3;
  height: 292px;
  width: 376px;
}

.textleft h5{
  padding-left: 129px;
  width: 247px;
  margin-left: -98px;
}

.child1 i{
  position: relative;
  font-size: 45px;
  margin: 100px 0px 0px 30px;
}



.btnArticle{
  background-color:white;
  float: right;
  border: solid 1px white;
  margin-right: 33px;
  margin-top: -289px;
  width: 100px;
  height: 20px;
  position: relative;
  text-align: center;
  padding: 10px;
  

}

.btnArticle a{
  font-family:'Roboto', sans-serif ;
  text-align: center;
  text-decoration: none;
  font-size:10px;
  letter-spacing: .1rem;
  color:black;
}
  

.child2{
  grid-column-start: 3;
  grid-column-end: 4;
}

.child2 img{
  width:100%;
}

.child3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: -340px;
}

.child3 img{
  width:93%;
}

.child4{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: -340px;
}

.child4 img{
  width: 94%;
}

.child4 i {
  color: white;
  font-size: 45px;
  float: left;
  margin-top: -11px;
  position: relative;
  margin-left: -67px;
}

.child4 a{
  margin-left: 93px;
  position: absolute;
  color: white;
  margin-top: 275px;
  font-family: 'Roboto', sans-serif;
}

.child5{   
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: -776px;
  width: 373px;
}  

.child5 img{
  width:100%;
}

.child6{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  border: 1px solidwhite;
  background-color:white;
  width: 400px;
  height: 115px;
  margin-top: -777px;
}

.child6 img{
  width:100%;
}

.sg-section{
  height: 2660px;
}

/*modification de la partie footer*/

.footermail{
  float: right;
  border-left: 1px gray double;
  padding-left: 15px;
  margin-top: -70px;
}

.linefooter{
  border-top: 1px#d2d0d0 double;
  color:#656363;
  padding-top: 15px;
}

.iconright{
  float: right;
  margin-top: -44px;
}

/*ALYSON Page Profil*/
    /*ALYSON image+play*/
    .am-photo{
      margin-top: 120px;
      margin-left: 420px;
      position:relative;
      width: 60%;
      z-index: 1;
    }
  
  .am-play{
    width: 72px;
    height: 72px;
    z-index: 3;
    position: relative;
    margin-top: -470px;
    float: right;
    margin-right: 80px;
    color:white;
  }
  
  .am-play i{
    padding: 13px;
    font-size: 45px;
  }
  
      /*ALYSON numéro gauche*/
  .am-numleft{
      float: left;
      margin-top: -230px;
      margin-right: 181px;
      font-size: 10px;
      margin-left: -20px;
  }
  
  .am-numleft li{
    padding: 10px; 
    text-align: center;
    
  }
  .am-numleft ol{
    list-style-type: none;
  }
  
      /*ALYSON Titre Derek*/
  .am-derek{
      margin-left: 150px;
      color:
      gray;
      position: absolute;
      z-index: 2;
      font-size: 40px;
      margin-top: -456px;
  }
  
  .am-derek h1{
    font-family: 'Montserrat', sans-serif;
  }
  
  .am-derek h6{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
  }

  /*ALYSON flèches*/

.am-arrows{
  text-align: center;
  margin-left: 130px;
  margin-top: -95px;
  margin-right: 395px;
  float: left;
}

.am-arrows i{
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  margin-left:20px;
}
  
  /*ALYSON Enquire About Derek*/
  .enquiresaboutderek{
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      margin-top: -78px;
      width: 280px;
      text-align: center;
      color:gray;
      text-transform: uppercase;
      background-color:white;
      padding: 20px;
      margin-left: 420px;
      z-index: 2;
      position: relative;
  }
  
  .enquiresaboutderek p{
      font-size:10px;
      letter-spacing: .2rem;
  }
  
      /*ALYSON Image 1 Gauche*/
  .am-imagegauche1{
      padding:40px;
  }
  
      /*ALYSON Menu*/
  .am-menu{
      margin-top: -700px;
  margin-left: -111px;
  float: right;
  margin-right: 200px;
  }
  
  .am-menu ul{
      width: 400px;
      text-align: justify;
      margin: auto;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
  }
  
  .am-menu li{
      list-style-type: none;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      letter-spacing: .2rem;
      padding: 0 20px 0 20px;
  }
    
  .am-menu li:hover{
      border-bottom: 1px solid black;
      padding-bottom: 5px;
  }
      /*ALYSON texte droite */
  .am-textedroite1{
      width: 420px;
      float: right;
      margin-top: -600px;
      margin-right: 160px;
  }
  
  .am-textedroite1 h2{
      font-family: 'Roboto', sans-serif;
      font-size: 50px;
      margin: 10px;
      margin-left: 0px;
  }
  
  .am-textedroite1 h3{
      font-family: 'Roboto', sans-serif;
      font-size: 25px;
      font-weight: normal;
      margin: 0px;
  }
  
  .am-textedroite1 i{
      margin-top:10px;
  }
  
  .am-textedroite1 h4{
      font-family: 'Roboto', sans-serif;
      font-size: 10px;
      margin-left: 30px;
      margin-top: -15px;
  }
  
  .am-textedroite1 p{
      font-family: 'Roboto', sans-serif;
      color:gray;
  }
  
      /*ALYSON icons droite*/
  .am-iconright{
      margin-top: -500px;
      display: grid;
      float:right;
  }
  
  .fab {
    font-family: "Font Awesome 5 Brands";
    padding: 10px;
  }
  
      /*ALYSON image droite*/
  .am-imagedroite{
      float:right;
      padding:40px;
  }
  
      /*ALYSON texte gauche 1*/
  .am-textegauche1 h2{
      font-family: 'Roboto', sans-serif;
      font-size: 50px;
      margin-left: 150px;
      width: 400px;
      margin-top: 150px;
  }
  
      /*ALYSON ligne1*/
  .am-line1{
      border: solid 1px black;
      width: 100px;
      margin-left: 150px;
      padding: 0px;
      margin-top: -30px;
  }
  
      /*ALYSON articles gauche*/
  .am-imggchart{
      float: left;
      width: 500px;
      margin-left: 150px;
  }
  
  .am-imggchart img{
      width: 150px;
      margin-top:50px;
      padding-top:30px;
      padding-bottom:30px;
  }
  
  .am-imggchart i{
      width: 150px;
      height: 80px;
      background-color:#b2c9f0;
      font-size: 50px;
      text-align: center;
      padding-top: 30px;
      color:white;
  }
  
  .textart1{
      width: 300px;
      float: right;
      margin-top: 70px; 
  }
  
  .textart2{
      width: 300px;
      float: right;
      margin-top: -5px; 
  }
  
      /*ALYSON explore more*/
  .am-exploremore1{
    margin-top: 370px;
  }
  
  .am-exploremore1 a{
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      padding-right:25px;
      margin-left:150px
  }
  
    /*ALYSON texte gauche 2*/
  .am-textegauche2 h2{
      font-family: 'Roboto', sans-serif;
      font-size: 50px;
      margin-left: 150px;
      width: 400px;
      margin-top: 150px;
  }
    /*ALYSON ligne 2 + texte droite*/
  .am-line2{
      border: solid 1px black;
      width: 100px;
      margin-left: 150px;
      padding: 0px;
      margin-top: -30px;
  }
  
  .am-exploremore2{
    margin-top: -10px;
    float: right;
    margin-right: 300px;
    
  }
  
  .am-exploremore2 a{
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      padding-right:25px;
      margin-left:150px
  }
  
  .am-textedroite2{
    width: 420px;
    float: right;
    margin-right: 30px;
    margin-top: -115px;
  }
  
  .am-textedroite2 p{
    font-family: 'Roboto', sans-serif;
    color:gray;
  }
  
    /*ALYSON gallerie*/
  .am-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
     grid-template-rows: 1fr ;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      margin-top: 80px; 
      padding-right: 40px;
      padding-left: 40px;
      margin-bottom:200px;
    }
    
    .am-container img{
      width:280px;
      height: 400px;
    }
  
    .am-imageafter{
      opacity: 0;
      margin-top: -404px;
      height: 400px;
    }
    
    .am-imageafter h4{
        font-family: 'Roboto', sans-serif;
        color: white;
        padding-top: 250px;
    }
    
    .am-imageafter h5{
      font-family: 'Roboto', sans-serif;
      color: white;
      text-transform: uppercase;
      margin-top:-15px;
    }

    .am-imageafter i{
      color:white;
      margin-top: 20px;
      margin-left: 200px;
      background-color:#b2c9f0;
      width: 50px;
      height: 30px;
      padding-top: 15px;
      border-radius: 30px;
    }
      
    .am-imageafter:hover{
     filter: opacity(100%);
     opacity: 1;
     margin-top: -404px;
     text-align: center;
     background-color: rgba(68, 82, 83, 0.9);
    }
    
    .am-fondimg1{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2
    }
  
    .am-fondimg2{
      grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  
    }
  
    .am-fondimg3{
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
  grid-row-end: 2;
  
    }
  
    .am-fondimg4{
      grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
    }
  
    /*ALYSON footer*/
    .footermail{
      float: right;
      border-left: 1px gray double;
      padding-left: 15px;
      margin-top: -70px;
    }
    
    .linefooter{
      border-top: 1px#d2d0d0 double;
      color:#656363;
      padding-top: 15px;
    }
    
    .iconright{
      float: right;
      margin-top: -44px;
    }
  
  /*ALYSON fin Page Profil*/