/*home page*/
html{
    background-color: black;
}


body{
    margin: auto;
    width: 1200px;
    padding: 40px;
    background-color: white;
}

p{
  font-family: 'Roboto', sans-serif;
}

h5{
  font-family: 'Roboto', sans-serif;
}

h6{
  font-family: 'Roboto', sans-serif;
}

/*header*/
header{
  z-index:1;
  position:relative;
}
h1{
    font-family: 'Vidaloka', serif;
}

#title{
  font-family: 'Vidaloka', serif;
  text-align: center;
  margin-top: -50px;
}



/*Modification du nav*/

#menuHM
{
  
  display: block;
  position: absolute;
  top: -5px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuHM a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuHM a:hover
{
  color: tomato;
}

#menuHM input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

#menuHM span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #232323;;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuHM span:first-child
{
  transform-origin: 0% 0%;
}

#menuHM span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuHM input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuHM input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuHM input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -40px;
  padding: 50px;
  padding-top: 125px;
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased; 
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  opacity: 0;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuHM input:checked ~ ul
{
  transform: none;
  opacity: 1;
  text-decoration: none;
}

/*modification du navigateur secondaire*/

#nav2{
    margin-left: 62px;
}

#nav2 ul{
    list-style-type: none;
    list-style-type: none;
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    width: 142px;
 
}

/*modificatin search bar !!!!!!*/
.search{
    float: right;
    margin-right: 80px;
    margin-top: -55px;
    transition: margin-left 2s;
    border-radius: 30px;
    background-color: rgb(187, 196, 206);
    position: relative;
    z-index: 2;
}

.search-in{
  width: 21px;
  border-radius: 30px;
  margin: 10px;
}

.search-in:hover{
  
  width: 400px;

}

.btnsearch{
 
  border-radius: 30px;
  margin-right: -70px;

}

/*partie de la secton*/

.clear{
  clear: both;
}

/*icon*/

.iconleft{

  margin-top: 100px;
  display: grid;
}

.fab {
  font-family: "Font Awesome 5 Brands";
  padding: 10px;
}
/*photo*/

.sg-photo{
  margin-top: -133px;
  margin-left: 172px;
  position:relative;
  width: 60%;
  z-index: 1;
}


/*div dregrader*/

#degrad{
  float: right;
  width: 520px;
  height: 440px;
  background-image: linear-gradient(60deg,rgb(201, 233, 241),rgb(172, 192, 240));
  margin-top: -700px;
  margin-right: -40px;
  position: relative;
  z-index: 0;
}

/*les numeros*/

.num-right{
  float: right;
  margin-top: -200px;
  margin-right: 181px;
  font-size: 10px;
}

.num-right li{
  padding: 10px; 
  
}
.num-right ol{
  list-style-type: none;
}
/* Police Derek Anderson*/
.derek{
  margin-left: 120px;
  color:  gray;
  position: absolute;
  z-index: 2;
  font-size: 40px;
  margin-top: -375px;

}
.derek h1{
  font-family: 'Montserrat', sans-serif;
}
.derek h6{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}
/*Lien profil*/
.viewProfile{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: -77px;
  width: 132px;
  text-align: center;
  color:white;
  text-transform: uppercase;
  background-color: #a6c6f3;
  padding: 20px;
}
.viewProfile p{
  font-size:10px;
  letter-spacing: .2rem;

}
.play{
  background-color:white;
  width: 72px;
  height: 72px;
  z-index: 3;
  position: relative;
  margin-left: 172px;
  margin-top: -72px;
}

.play i{
  padding: 13px;
font-size: 45px;
}
/*Menu actor,musician...*/
.menu{
  margin-top: 90px;
  margin-left: -100px;
}

.menu ul{
  width: 400px;
  text-align: justify;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.menu li{
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: .2rem;
  padding: 0 20px 0 20px;
  
}

.menu li:hover{

  border-bottom: 1px solid black;
  padding-bottom: 5px;
  
}

/*tout modification en rapport avec la gallery */

.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 80px; 
}


.imgafter{
  opacity: 0;
  margin-top: -426px;
  height: 400px;
}

.imgafter h4{
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-top: 315px;
}

.imgafter h5{
  font-family: 'Roboto', sans-serif;
  color: white;
  text-transform: uppercase;
}
  
.imgafter:hover{
 filter: opacity(100%);
 opacity: 1;
 margin-top: -426px;
 text-align: center;
 background-color: rgba(202, 234, 238, 0.9);
}

.fondimg img{
  width: 100%;
}

/*bouton sous la gallery*/

.buttongallery{
  margin: auto;
  width: 177px;
  padding: 20px;
  margin-top: 45px;
  border: 1px solid#a6c6f3;
  border-radius: 30px;
  text-align: center;
  background-color:#a6c6f3;
}

.buttongallery a {
  text-decoration: none;
  font-size:15px;
  letter-spacing: .1rem;
  color:white;
  font-family:'Roboto', sans-serif ;
}

/*titre stories*/

.stories{
  margin: auto;
  width: 330px;
  font-size: 35px;
}

.stories h1{
  font-family: 'Montserrat', sans-serif;
}

/*line sous stories*/

.line{
  border-bottom: 2px solid black;
  width: 140px;
  margin: auto;
  margin-bottom: 25px;
}

/*la partie article*/

.contener{
  display: flex;
  justify-content: center;
}

.contphoto{
  width: 400px;
}

.contener img{
  width: 20%;
}

.fondblue{
  width: 90px;
  height: 75px;
  background-color: #a6c6f3;
}

.wrap{
  width: 239px;
  float: right;
  margin-top: -22px;
  margin-right: 65px;
}

.wrap1{
  width: 221px;
  float: left;
  margin-top: -97px;
  margin-left: 110px;
}


/*derniere gallery de la page*/

.parent{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}


.child1{
  grid-column-start: 1;
  grid-column-end: 3;
}
.child1 img{
  width:50%;
  
}

.textleft{
  float:left;
  background-color: #a6c6f3;
  height: 292px;
  width: 376px;
}

.textleft h5{
  padding-left: 129px;
  width: 247px;
  margin-left: -98px;
}

.child1 i{
  position: relative;
  font-size: 45px;
  margin: 100px 0px 0px 30px;
}



.btnArticle{
  background-color:white;
  float: right;
  border: solid 1px white;
  margin-right: 33px;
  margin-top: -289px;
  width: 100px;
  height: 20px;
  position: relative;
  text-align: center;
  padding: 10px;
  

}

.btnArticle a{
  font-family:'Roboto', sans-serif ;
  text-align: center;
  text-decoration: none;
  font-size:10px;
  letter-spacing: .1rem;
  color:black;
}
  

.child2{
  grid-column-start: 3;
  grid-column-end: 4;
}

.child2 img{
  width:100%;
}

.child3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: -340px;
}

.child3 img{
  width:93%;
}

.child4{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: -340px;
}

.child4 img{
  width: 94%;
}

.child4 i {
  color: white;
  font-size: 45px;
  float: left;
  margin-top: -11px;
  position: relative;
  margin-left: -67px;
}

.child4 a{
  margin-left: 93px;
  position: absolute;
  color: white;
  margin-top: 275px;
  font-family: 'Roboto', sans-serif;
}

.child5{   
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: -776px;
  width: 373px;
}  

.child5 img{
  width:100%;
}

.child6{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  border: 1px solidwhite;
  background-color:white;
  width: 400px;
  height: 115px;
  margin-top: -777px;
}

.child6 img{
  width:100%;
}

.sg-section{
  height: 2660px;
}

/*modification de la partie footer*/

.footermail{
  float: right;
  border-left: 1px gray double;
  padding-left: 15px;
  margin-top: -70px;
}

.linefooter{
  border-top: 1px#d2d0d0 double;
  color:#656363;
  padding-top: 15px;
}

.iconright{
  float: right;
  margin-top: -44px;
}

/* Modification de la page "A propos" par Geoffrey le 21-01-2020 */

.parentG{

  display: flex;
  align-items: center;
  padding : 1em;
  justify-content: center;
  align-items: center;
  margin : 0px auto ;
  
  }
  
  .imageabout{
  height: 250px;
  width: 250px;
  
  }
  .imageabout:hover{
    
    -webkit-filter: opacity(90%); /* Safari */
    filter: opacity(60%);
  }
  
  
  .changementimage{
    margin-right: 100px;
    margin-left: 100px;
    color : gray;
  }

.changementimage:hover{
  color:red;
  animation: rotationFleche 1s linear;
  
}
@keyframes rotationFleche{
  0%{
    transform: rotateX(0);
  }
  100%{
    transform: rotateX(360deg);
  }
}

.textChild{
  opacity: 0px;
}

/* Modification de la page client apr Geoffrey le 22/01/2020 */

#sectionbasclient{
  
  width: 1100px;
  height: 800px;
  position: relative;
  left:140px;
  
 
  
  

}
#titresectionbasclient{
  color:white;
  font-size: 2.5em;
  position: relative;
  right: 50px;
  bottom: -200px;
  z-index: 1;
  color:black;
  font-family: 'Vidaloka', serif;
  padding-top: 40px;
}
#titresectionbasclient2{
  color:white;
  font-size: 2.5em;
  position: relative;
  right: 50px;
  bottom: -145px;
  z-index: 1;
  color:black;
  font-family: 'Vidaloka', serif;
  
}
#titresectionbasclient3{
  color:white;
  font-size: 1em;
  position: relative;
  right: 50px;
  bottom: -145px;
  z-index: 1;
  color:black;
  font-family: 'Vidaloka', serif;
 
}
#gridbasclient{
  
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
 
  width: 1100px;
  height: 500px;
margin : 0px 0px 0px 0px;
position : relative;
top: -215px;

  
}

#placementimageclient{
  
  grid-column-start:1;
  grid-column-end: 8;
  background-color: #d3d8db;
  grid-row-start : 1;
  grid-row-end: 6; 
}

#image1basclient{
  position: relative;
  left:300px;
  top : -320px;
  height:320px;
  width:320px;
  
}
#carresectionbasclient{
  grid-column-start:4;
  grid-column-end: 8;
  background-color: #a3c5d8;
  grid-row-start : 3;
  grid-row-end: 6; 
 
}

#iconsectionbasclient{
  color:white;
  display:flex;
  flex-direction: column;
  padding-left:30px;
  padding-top:40px;
  
}
#dernierboxclient{

 position: relative;
  height: 250px;
  width:250px; 
  top:-30px;
  left: 630px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
}

#derniereimageclient{
  height: 350px;
  width: 350px;
  
}

#positionementdessousclient{
  
  position: relative;
  top:-230px;
  height: 235px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-left: 50px;
  
  
}
#textdessouspositionclient{
  position: relative;
  left:-220px;
  font-size: 1.2em;
  color:gray;
  text-align: justify;
}
#playdessousclient{
  position: relative;
  left:-240px;
  top:-20px;
  padding : 0px 0px 0px 0px;
  font-size: 3em;
  margin : 0px 0px 0px 0px;
}
#textcoteplayclient{
  position: relative;
  left:-300px;
  top:-30px;
  font-size:0.8em;
}
#textcoteplayclient2{
  color : rgb(132, 132, 192);
  position: relative;
  left:-480px;
  top:-10px;
  font-size:0.8em;
  
  
}

#flechegauchepageclient{
  position: relative;
  left:-170px;
  top:-40px;
  font-size: 0.8em;


}

#flechedroitepageclient{
  position: relative;
  left:-200px;
  top:-40px;
  font-size: 0.8em;
  opacity: 0.4;

}

/* Ajout dessous de page client "latest news par Geoffrey le 23/01/2020" */


#latestnewsclient{
  height:400px;
  width: 1200px;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
}
.latestflex{
  display: flex;
  flex-wrap: nowrap;
  height: 200px;
  width: 400px;
  font-size: 1.3em;
  font-weight: bold;
  position: relative;
}
.latestimage{
  height:150px;
  width: 200px;
  order: 0;
  position: relative;
}


.latesttext{
  padding:10px 10px 10px 10px;
  
}

.latesttext:hover{
  color : rgb(95, 95, 182);
  padding:10px 10px 10px 10px;
}


.latestfiltre{
  background-color: rgb(132, 132, 192);
  height: 150px;
  width:200px;
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.latestfiltre:hover{
  background-color: rgb(132, 132, 192);
  height: 150px;
  width:200px;
  position: absolute;
  z-index: 1;
  opacity: 0.7;
  
}
/*modification bawer partie haute page client */

.ag-boss {

  margin-top: -110px;
  margin-right: -40px;
  margin-left: -40px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  background: rgb(229, 239, 241);
  background: linear-gradient(17deg, rgba(229, 239, 241, 1) 0%, rgba(227, 239, 239, 1) 30%, rgba(212, 232, 233, 1) 100%);

}




.iconleft2 {

  margin-top: 150px;
  margin-left: 35px;
}


hr {
  grid-column: 2 / 3;
  grid-row: 13/15;
  margin-left: -10px;

}



.ag-chiffre {

  grid-column: 2/3;
  grid-row: 18/19;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  margin-left: -17px;
}





.ourtalent {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  grid-column: 4 / 13;
  grid-row: 5 / 15;
  text-align: center;

}

.ourtalent h2 {

  font-size: 45px;
}


.ag-right {

  display: grid;
  background-color: white;
  grid-column: 13 / 21;
  grid-row: 1 / 21;


}

.ag-bigbox {

  margin-top: 140px;
  background-size: cover;
  height: 70%;
  width: 80%;
  background-image: url("images/profile2.jpg");
}


.ag-filtreparent {


  display: flex;
  margin-top: 349px;
  width: 100%;
  height: 29%;


}


.ag-filtreg {

  text-align: center;
  justify-content: flex-end;
  margin-top: 1px;
  width: 80%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
}

.ag-filtred {


  margin-top: 1px;
  width: 20%;
  height: 100%;
  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

}

#ah {
  margin-bottom: 25px;
}







