/*home page*/
html {
  background-color: black;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: auto;
  width: 1200px;
  padding: 40px;
  background-color: white;
}

p {
  font-family: "Roboto", sans-serif;
}

h5 {
  font-family: "Roboto", sans-serif;
}

h6 {
  font-family: "Roboto", sans-serif;
}

/*header*/
header {
  z-index: 1;
  position: relative;
}
h1 {
  font-family: "Vidaloka", serif;
}

#title {
  font-family: "Vidaloka", serif;
  text-align: center;
  margin-top: -50px;
}

/*Modification du nav*/

#menuHM {
  display: block;
  position: absolute;
  top: -5px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuHM a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuHM a:hover {
  color: tomato;
}

#menuHM input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuHM span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #232323;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuHM span:first-child {
  transform-origin: 0% 0%;
}

#menuHM span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuHM input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuHM input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuHM input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -40px;
  padding: 50px;
  padding-top: 125px;
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  opacity: 0;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}

#menuHM input:checked ~ ul {
  transform: none;
  opacity: 1;
  text-decoration: none;
}

/*modification du navigateur secondaire*/

#nav2 {
  margin-left: 62px;
  font-family: "Roboto", sans-serif;
}

#nav2 ul {
  list-style-type: none;
  list-style-type: none;
  list-style-type: none;
  justify-content: space-between;
  display: flex;
  width: 142px;
}

/*modificatin search bar !!!!!!*/
.search {
  float: right;
  margin-right: 80px;
  margin-top: -55px;
  transition: margin-left 2s;
  border-radius: 30px;
  background-color: rgb(187, 196, 206);
  position: relative;
  z-index: 2;
}

.search-in {
  width: 21px;
  border-radius: 30px;
  margin: 10px;
}

.search-in:hover {
  width: 400px;
}

.btnsearch {
  border-radius: 30px;
  margin-right: -70px;
}

/*partie de la secton*/

.clear {
  clear: both;
}

/*icon*/

.iconleft {
  margin-top: 100px;
  display: grid;
}

.fab {
  font-family: "Font Awesome 5 Brands";
  padding: 10px;
}
/*photo*/

.sg-photo {
  margin-top: -133px;
  margin-left: 172px;
  position: relative;
  width: 60%;
  z-index: 1;
}

/*div dregrader*/

#degrad {
  float: right;
  width: 520px;
  height: 440px;
  background-image: linear-gradient(
    60deg,
    rgb(201, 233, 241),
    rgb(172, 192, 240)
  );
  margin-top: -700px;
  margin-right: -40px;
  position: relative;
  z-index: 0;
}

/*les numeros*/

.num-right {
  float: right;
  margin-top: -200px;
  margin-right: 181px;
  font-size: 10px;
}

.num-right li {
  padding: 10px;
}
.num-right ol {
  list-style-type: none;
}
/* Police Derek Anderson*/
.derek {
  margin-left: 120px;
  color: gray;
  position: absolute;
  z-index: 2;
  font-size: 40px;
  margin-top: -375px;
}
.derek h1 {
  font-family: "Montserrat", sans-serif;
}
.derek h6 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}
/*Lien profil*/
.viewProfile {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: -77px;
  width: 132px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background-color: #a6c6f3;
  padding: 20px;
}
.viewProfile p {
  font-size: 10px;
  letter-spacing: 0.2rem;
}
.play {
  background-color: white;
  width: 72px;
  height: 72px;
  z-index: 3;
  position: relative;
  margin-left: 172px;
  margin-top: -72px;
}

.play i {
  padding: 13px;
  font-size: 45px;
}
/*Menu actor,musician...*/
.menu {
  margin-top: 90px;
  margin-left: -100px;
}

.menu ul {
  width: 400px;
  text-align: justify;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.menu li {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 0 20px 0 20px;
}

.menu li:hover {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

/*tout modification en rapport avec la gallery */

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 80px;
}

.imgafter {
  opacity: 0;
  margin-top: -426px;
  height: 400px;
}

.imgafter h4 {
  font-family: "Roboto", sans-serif;
  color: white;
  padding-top: 315px;
}

.imgafter h5 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
}

.imgafter:hover {
  filter: opacity(100%);
  opacity: 1;
  margin-top: -426px;
  text-align: center;
  background-color: rgba(202, 234, 238, 0.9);
}

.fondimg img {
  width: 100%;
}

/*bouton sous la gallery*/

.buttongallery {
  margin: auto;
  width: 177px;
  padding: 20px;
  margin-top: 45px;
  border: 1px solid#a6c6f3;
  border-radius: 30px;
  text-align: center;
  background-color: #a6c6f3;
}

.buttongallery a {
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.1rem;
  color: white;
  font-family: "Roboto", sans-serif;
}

/*titre stories*/

.stories {
  margin: auto;
  width: 330px;
  font-size: 35px;
}

.stories h1 {
  font-family: "Montserrat", sans-serif;
}

/*line sous stories*/

.line {
  border-bottom: 2px solid black;
  width: 140px;
  margin: auto;
  margin-bottom: 25px;
}

/*la partie article*/

.contener {
  display: flex;
  justify-content: center;
}

.contphoto {
  width: 400px;
}

.contener img {
  width: 20%;
}

.fondblue {
  width: 90px;
  height: 75px;
  background-color: #a6c6f3;
}
.fondblue i {
  font-size: 30px;
  padding: 23px;
  margin-left: 5px;
}

.wrap {
  width: 239px;
  float: right;
  margin-top: -22px;
  margin-right: 65px;
}

.wrap1 {
  width: 221px;
  float: left;
  margin-top: -97px;
  margin-left: 110px;
}

/*derniere gallery de la page*/

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.child1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.child1 img {
  width: 50%;
}

.textleft {
  float: left;
  background-color: #a6c6f3;
  height: 292px;
  width: 376px;
}

.textleft h5 {
  padding-left: 129px;
  width: 247px;
  margin-left: -98px;
}

.child1 i {
  position: relative;
  font-size: 45px;
  margin: 100px 0px 0px 30px;
}

.btnArticle {
  background-color: white;
  float: right;
  border: solid 1px white;
  margin-right: 33px;
  margin-top: -289px;
  width: 100px;
  height: 20px;
  position: relative;
  text-align: center;
  padding: 10px;
}

.btnArticle a {
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 0.1rem;
  color: black;
}

.child2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.child2 img {
  width: 100%;
}

.child3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: -340px;
}

.child3 img {
  width: 93%;
}

.child4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: -340px;
}

.child4 img {
  width: 94%;
}

.child4 i {
  color: white;
  font-size: 45px;
  float: left;
  margin-top: -11px;
  position: relative;
  margin-left: -67px;
}

.child4 a {
  margin-left: 93px;
  position: absolute;
  color: white;
  margin-top: 275px;
  font-family: "Roboto", sans-serif;
}

.child5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: -776px;
  width: 373px;
}

.child5 img {
  width: 100%;
}

.child6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  border: 1px solidwhite;
  background-color: white;
  width: 400px;
  height: 115px;
  margin-top: -777px;
}

.child6 img {
  width: 100%;
}

.sg-section {
  height: 2660px;
}

/*modification de la partie footer*/

.footermail {
  float: right;
  border-left: 1px gray double;
  padding-left: 15px;
  margin-top: -70px;
}

.linefooter {
  border-top: 1px#d2d0d0 double;
  color: #656363;
  padding-top: 15px;
}

.iconright {
  float: right;
  margin-top: -44px;
}

/* Modification de la page "A propos" par Geoffrey le 21-01-2020 */

.parentG {
  display: flex;
  align-items: center;
  padding: 1em;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  margin-top: 50px;
}

.imageabout {
  height: 250px;
  width: 250px;
}
.imageabout:hover {
  -webkit-filter: opacity(90%); /* Safari */
  filter: opacity(60%);
}

.changementimage {
  margin-right: 100px;
  margin-left: 100px;
  color: gray;
}

.changementimage:hover {
  color: red;
  animation: rotationFleche 1s linear;
}
@keyframes rotationFleche {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.textChild {
  opacity: 0px;
}

/* Modification de la page client apr Geoffrey le 22/01/2020 */

#sectionbasclient {
  width: 1100px;
  height: 800px;
  position: relative;
  left: 140px;
}
#titresectionbasclient {
  color: white;
  font-size: 2.5em;
  position: relative;
  right: 50px;
  bottom: -200px;
  z-index: 1;
  color: black;
  font-family: "Vidaloka", serif;
  padding-top: 40px;
}
#titresectionbasclient2 {
  color: white;
  font-size: 2.5em;
  position: relative;
  right: 50px;
  bottom: -145px;
  z-index: 1;
  color: black;
  font-family: "Vidaloka", serif;
}
#titresectionbasclient3 {
  color: white;
  font-size: 1em;
  position: relative;
  right: 50px;
  bottom: -145px;
  z-index: 1;
  color: black;
  font-family: "Vidaloka", serif;
}
#gridbasclient {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;

  width: 1100px;
  height: 500px;
  margin: 0px 0px 0px 0px;
  position: relative;
  top: -215px;
}

#placementimageclient {
  grid-column-start: 1;
  grid-column-end: 8;
  background-color: #d3d8db;
  grid-row-start: 1;
  grid-row-end: 6;
}

#image1basclient {
  position: relative;
  left: 300px;
  top: -320px;
  height: 320px;
  width: 320px;
}
#carresectionbasclient {
  grid-column-start: 4;
  grid-column-end: 8;
  background-color: #a3c5d8;
  grid-row-start: 3;
  grid-row-end: 6;
}

#iconsectionbasclient {
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 40px;
}
#dernierboxclient {
  position: relative;
  height: 250px;
  width: 250px;
  top: -30px;
  left: 630px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#derniereimageclient {
  height: 350px;
  width: 350px;
}

#positionementdessousclient {
  position: relative;
  top: -230px;
  height: 235px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-left: 50px;
}
#textdessouspositionclient {
  position: relative;
  left: -220px;
  font-size: 1.2em;
  color: gray;
  text-align: justify;
}
#playdessousclient {
  position: relative;
  left: -240px;
  top: -20px;
  padding: 0px 0px 0px 0px;
  font-size: 3em;
  margin: 0px 0px 0px 0px;
}
#textcoteplayclient {
  position: relative;
  left: -300px;
  top: -30px;
  font-size: 0.8em;
}
#textcoteplayclient2 {
  color: rgb(132, 132, 192);
  position: relative;
  left: -480px;
  top: -10px;
  font-size: 0.8em;
}

#flechegauchepageclient {
  position: relative;
  left: -170px;
  top: -40px;
  font-size: 0.8em;
}

#flechedroitepageclient {
  position: relative;
  left: -200px;
  top: -40px;
  font-size: 0.8em;
  opacity: 0.4;
}

/* Ajout dessous de page client "latest news par Geoffrey le 23/01/2020" */

#latestnewsclient {
  height: 400px;
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
}
.latestflex {
  display: flex;
  flex-wrap: nowrap;
  height: 200px;
  width: 400px;
  font-size: 1.3em;
  font-weight: bold;
  position: relative;
}
.latestimage {
  height: 150px;
  width: 200px;
  order: 0;
  position: relative;
}

.latesttext {
  padding: 10px 10px 10px 10px;
}

.latesttext:hover {
  color: rgb(95, 95, 182);
  padding: 10px 10px 10px 10px;
}

.latestfiltre {
  background-color: rgb(132, 132, 192);
  height: 150px;
  width: 200px;
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.latestfiltre:hover {
  background-color: rgb(132, 132, 192);
  height: 150px;
  width: 200px;
  position: absolute;
  z-index: 1;
  opacity: 0.7;
}
/*modification bawer partie haute page client */

.ag-boss {
  margin-top: -110px;
  margin-right: -40px;
  margin-left: -40px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  background: rgb(229, 239, 241);
  background: linear-gradient(
    17deg,
    rgba(229, 239, 241, 1) 0%,
    rgba(227, 239, 239, 1) 30%,
    rgba(212, 232, 233, 1) 100%
  );
}

.iconleft2 {
  margin-top: 150px;
  margin-left: 35px;
}

hr {
  grid-column: 2 / 3;
  grid-row: 13/15;
  margin-left: -10px;
}

.ag-chiffre {
  grid-column: 2/3;
  grid-row: 18/19;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  margin-left: -17px;
}

.ourtalent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  grid-column: 4 / 13;
  grid-row: 5 / 15;
  text-align: center;
}

.ourtalent h2 {
  font-size: 50px;
  font-family: "Montserrat";
  margin-left: -170px;
}

.ourtalent a {
  background-color: #b5d3d3;
  border: #b5d3d3;
  padding: 1em;
  padding: 1em 4em;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Montserrat";
  text-align: justify;
  margin-left: -200px;
}

.ourtalent p {
  text-transform: uppercase;
  font-family: "Montserrat";
  margin-left: -200px;
  margin-top: -20px;
  margin-bottom: 35px;
}

.ag-right {
  display: grid;
  background-color: white;
  grid-column: 13 / 21;
  grid-row: 1 / 21;
}

.ag-bigbox {
  margin-top: 140px;
  background-size: cover;
  height: 70%;
  width: 80%;
  background-image: url("images/profile2.jpg");
}

.ag-filtreparent {
  display: flex;
  margin-top: 349px;
  width: 100%;
  height: 29%;
}

.ag-filtreg {
  text-align: center;
  justify-content: flex-end;
  margin-top: 1px;
  width: 80%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
  font-family: "Montserrat";
}

.ag-filtreg h3 {
  font-size: 27px;
}

.ag-filtreg h6 {
  margin-top: 40px;
  text-transform: uppercase;
  margin-left: -110px;
  margin-bottom: -25px;
}

.ag-filtred {
  margin-top: 1px;
  width: 20%;
  height: 100%;
  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#ah {
  margin-bottom: 25px;
}

/*ALYSON Page Profil*/

/*ALYSON image+play*/
.am-photo {
  margin-top: 120px;
  margin-left: 420px;
  position: relative;
  width: 60%;
  z-index: 1;
}

.am-play {
  width: 72px;
  height: 72px;
  z-index: 3;
  position: relative;
  margin-top: -470px;
  float: right;
  margin-right: 80px;
  color: white;
}

.am-play i {
  padding: 13px;
  font-size: 45px;
}

/*ALYSON numéro gauche*/
.am-numleft {
  float: left;
  margin-top: -230px;
  margin-right: 181px;
  font-size: 10px;
  margin-left: -20px;
}

.am-numleft li {
  padding: 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.am-numleft ol {
  list-style-type: none;
}

/*ALYSON Titre Derek*/
.am-derek {
  margin-left: 150px;
  color: gray;
  position: absolute;
  z-index: 2;
  font-size: 40px;
  margin-top: -456px;
}

.am-derek h1 {
  font-family: "Montserrat", sans-serif;
}

.am-derek h6 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

/*ALYSON flèches*/
.am-arrows {
  text-align: center;
  margin-left: 130px;
  margin-top: -95px;
  margin-right: 395px;
  float: left;
}

.am-arrows i {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 20px;
}

/*ALYSON Enquire About Derek*/
.enquiresaboutderek {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: -78px;
  width: 280px;
  text-align: center;
  color: gray;
  text-transform: uppercase;
  background-color: white;
  padding: 20px;
  margin-left: 420px;
  z-index: 2;
  position: relative;
}

.enquiresaboutderek p {
  font-size: 10px;
  letter-spacing: 0.2rem;
}

/*ALYSON Image 1 Gauche*/
.am-imagegauche1 {
  padding: 40px;
}

/*ALYSON Menu*/
.am-menu {
  margin-top: -700px;
  margin-left: -111px;
  float: right;
  margin-right: 200px;
}

.am-menu ul {
  width: 400px;
  text-align: justify;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.am-menu li {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 0 20px 0 20px;
}

.am-menu li:hover {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

/*ALYSON texte droite */
.am-textedroite1 {
  width: 420px;
  float: right;
  margin-top: -600px;
  margin-right: 160px;
}

.am-textedroite1 h2 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  margin: 10px;
  margin-left: 0px;
}

.am-textedroite1 h3 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: normal;
  margin: 0px;
}

.am-textedroite1 i {
  margin-top: 10px;
}

.am-textedroite1 h4 {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  margin-left: 30px;
  margin-top: -15px;
}

.am-textedroite1 p {
  font-family: "Roboto", sans-serif;
  color: gray;
}

/*ALYSON icons droite*/
.am-iconright {
  margin-top: -500px;
  display: grid;
  float: right;
}

.fab {
  font-family: "Font Awesome 5 Brands";
  padding: 10px;
}

/*ALYSON image droite*/
.am-imagedroite {
  float: right;
  padding: 40px;
}

/*ALYSON texte gauche 1*/
.am-textegauche1 h2 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  margin-left: 150px;
  width: 400px;
  margin-top: 150px;
}

/*ALYSON ligne1*/
.am-line1 {
  border: solid 1px black;
  width: 100px;
  margin-left: 150px;
  padding: 0px;
  margin-top: -30px;
}

/*ALYSON articles gauche*/
.am-imggchart {
  float: left;
  width: 500px;
  margin-left: 150px;
}

.am-imggchart img {
  width: 150px;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.am-imggchart i {
  width: 150px;
  height: 80px;
  background-color: #b2c9f0;
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  color: white;
}

.textart1 {
  width: 300px;
  float: right;
  margin-top: 70px;
}

.textart2 {
  width: 300px;
  float: right;
  margin-top: -5px;
}

/*ALYSON explore more*/
.am-exploremore1 {
  margin-top: 370px;
}

.am-exploremore1 a {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding-right: 25px;
  margin-left: 150px;
}

/*ALYSON texte gauche 2*/
.am-textegauche2 h2 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  margin-left: 150px;
  width: 400px;
  margin-top: 150px;
}

/*ALYSON ligne 2 + texte droite*/
.am-line2 {
  border: solid 1px black;
  width: 100px;
  margin-left: 150px;
  padding: 0px;
  margin-top: -30px;
}

.am-exploremore2 {
  margin-top: -10px;
  float: right;
  margin-right: 300px;
}

.am-exploremore2 a {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding-right: 25px;
  margin-left: 150px;
}

.am-textedroite2 {
  width: 420px;
  float: right;
  margin-right: 30px;
  margin-top: -115px;
}

.am-textedroite2 p {
  font-family: "Roboto", sans-serif;
  color: gray;
}

/*ALYSON gallerie*/
.am-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 80px;
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 200px;
}

.am-container img {
  width: 280px;
  height: 400px;
}

.am-imageafter {
  opacity: 0;
  margin-top: -404px;
  height: 400px;
}

.am-imageafter h4 {
  font-family: "Roboto", sans-serif;
  color: white;
  padding-top: 250px;
}

.am-imageafter h5 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
  margin-top: -15px;
}

.am-imageafter i {
  color: white;
  margin-top: 20px;
  margin-left: 200px;
  background-color: #b2c9f0;
  width: 50px;
  height: 30px;
  padding-top: 15px;
  border-radius: 30px;
}

.am-imageafter:hover {
  filter: opacity(100%);
  opacity: 1;
  margin-top: -404px;
  text-align: center;
  background-color: rgba(68, 82, 83, 0.9);
}

.am-fondimg1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.am-fondimg2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.am-fondimg3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.am-fondimg4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

/*ALYSON fin Page Profil*/

/*les ligne en desous de ce commentaire sont pour la page contact*/

.SG-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.SG-child1 {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-top: -103px;
  margin-left: -40px;
}

.SG-child1 img {
  width: 110%;
}

.SG-child2 {
  margin-left: 567px;
  width: 331px;
  margin-top: -534px;
  position: absolute;
}

article::first-letter {
  font-size: 338%;
  margin-right: 2px;
  vertical-align: text-top;
  float: left;
}

article {
  width: 330px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
  margin-top: 80px;
}

p .SG-logo {
  font-size: 15px;
}

.SG-phone {
  float: right;
  margin-top: -107px;
}

.SG-child3 {
  background-image: linear-gradient(
    60deg,
    rgb(201, 233, 241),
    rgb(172, 192, 240)
  );
  height: 350px;
  float: right;
  position: relative;
  margin-right: -40px;
  width: 240px;
  margin-top: -477px;
}

/*ici j'effectue le changement de couleur de nav*/

#SG-nav2 {
  margin-left: 62px;
}

#SG-nav2 li {
  color: white;
}

#SG-nav2 ul {
  list-style-type: none;
  list-style-type: none;
  list-style-type: none;
  justify-content: space-between;
  display: flex;
  width: 142px;
}

span .SG-blanc {
  background: white !important;
}

#menuHM .last {
  background: white;
}

/*fin du nav deburt du titre et du boutton get map*/

.SG-get {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 546px;
  width: 138px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background-color: #a6c6f3;
  padding: 20px;
  position: absolute;
  margin-left: 194px;
}
.SG-get p {
  font-size: 10px;
  letter-spacing: 0.2rem;
}
.SG-map {
  background-color: white;
  width: 72px;
  height: 73px;
  z-index: 3;
  position: absolute;
  margin-left: 372px;
  margin-top: 546px;
}

.SG-map i {
  padding: 13px;
  font-size: 45px;
}

.SG-title {
  color: white;
  position: absolute;
  margin-top: -491px;
  margin-left: 150px;
  letter-spacing: 0.1rem;
}

.SG-title h5 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.SG-title h1 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
}

.SG-line {
  border: 2px double white;
  width: 65px;
  float: right;
  margin-top: 50px;
  margin-right: 57px;
}

/*fin de contact*/

.haut {
  display: flex;
  margin-right: -40px;
  margin-left: -40px;
  margin-top: -110px;
  height: 800px;
}

.gauche {
  background-image: url("images/profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  flex-direction: column;
}

.droite {
  width: 768px;
  height: 800px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: white;
}

.contactus {
  width: 70%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(221, 255, 253);
  background: linear-gradient(
    28deg,
    rgba(221, 255, 253, 1) 0%,
    rgba(229, 231, 255, 1) 30%,
    rgba(166, 206, 214, 1) 100%
  );
  position: relative;
  bottom: -456px;
}

.vraicontact {
  color: white;
}

.contactus h3 {
  margin-right: -70px;
  font-family: "Montserrat";
}

.symbole {
  background-color: white;
  padding: 40px;
  margin-right: -70px;
}

.degradeinutile {
  grid-column-start: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  background: rgb(221, 255, 253);
  background: linear-gradient(
    28deg,
    rgba(221, 255, 253, 1) 0%,
    rgba(229, 231, 255, 1) 30%,
    rgba(166, 206, 214, 1) 100%
  );
}

.ag-texte {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  text-align: left;
  font-family: "Roboto";
  margin-right: -100px;
  padding-right: 2em;

  margin-top: -30px;
}

.ag-texte p {
  color: rgb(167, 164, 164);
  line-height: 1.8;
  font-size: 20px;
}

.ag-texte h3 {
  font-family: "Montserrat";
  text-align: center;
}

.ag-texte h3::first-letter {
  font-size: 140%;
}

.ag-fond {
  background-color: black;
  color: white;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  text-align: center;
  margin: -20px -75px 0px 0px;
}

.ag-fond p {
  margin-top: 4em;
}
