/*home page*/
html{
    background-color: black;
}


body{
    margin: auto;
    width: 1200px;
    padding: 40px;
    background-color: aliceblue;
}

/*header*/
header{
  z-index:1;
  position:relative;
}
h1{
    font-family: 'Vidaloka', serif;
}

#title{
  font-family: 'Vidaloka', serif;
  text-align: center;
  margin-top: -50px;
}

/*Modification du nav*/

#menuHM
{
  
  display: block;
  position: absolute;
  top: -5px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuHM a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuHM a:hover
{
  color: tomato;
}

#menuHM input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

#menuHM span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #232323;;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuHM span:first-child
{
  transform-origin: 0% 0%;
}

#menuHM span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuHM input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuHM input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuHM input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -40px;
  padding: 50px;
  padding-top: 125px;
  background: #f2f1f0;
  list-style-type: none;
  -webkit-font-smoothing: antialiased; 
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  opacity: 0;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuHM input:checked ~ ul
{
  transform: none;
  opacity: 1;
  text-decoration: none;
}

/*modification du navigateur secondaire*/

#nav2{
    margin-left: 62px;
}

#nav2 ul{
    list-style-type: none;
    list-style-type: none;
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    width: 142px;
 
}

/*modificatin search bar !!!!!!*/
.search{
    float: right;
    margin-right: 80px;
    margin-top: -55px;
    transition: margin-left 2s;
    border-radius: 30px;
    background-color: rgb(187, 196, 206);
    position: relative;
    z-index: 2;
}

.search-in{
  width: 21px;
  border-radius: 30px;
  margin: 10px;
}

.search-in:hover{
  
  width: 400px;

}

.btnsearch{
 
  border-radius: 30px;
  margin-right: -70px;

}

/*partie de la secton*/

.clear{
  clear: both;
}

/*icon*/

.iconleft{

  margin-top: 100px;
  display: grid;
}

.fab {
  font-family: "Font Awesome 5 Brands";
  padding: 10px;
}
/*photo*/

.sg-photo{
  margin-top: -133px;
  margin-left: 172px;
  position: absolute;
  width: 40%;
  z-index: 1;
}


/*div dregrader*/

#degrad{
  float: right;
  width: 520px;
  height: 520px;
  background-image: linear-gradient(60deg,rgb(201, 233, 241),rgb(137, 169, 245));
  margin-top: -325px;
  margin-right: -40px;
  position: relative;
  z-index: 0;
}

/*les numeros*/

.num-right{
  float: right;
  margin-top: 215px;
  margin-right: -310px;
  font-size: 10px;
}

.num-right li{
  padding: 10px; 
  
}
.num-right ol{
  list-style-type: none;
}
/* Police Derek Anderson*/
.derek{
  margin-left: 120px;
  color:  gray;
  position: absolute;
  z-index: 2;
  font-size: 40px;
  font-family: sans serif;

}
.derek h1{
  font-family: 'Montserrat', sans-serif;
}
.derek h6{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}
/*Lien profil*/
.viewProfile{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 303px;
  width: 132px;
  text-align: center;
  color:white;
  text-transform: uppercase;
  background-color: #a6c6f3;
  padding: 20px;
}
.viewProfile p{
  font-size:10px;
  letter-spacing: .2rem;

}
.play{
  background-color:white;
width: 72px;
height: 72px;
z-index: 3;
position: relative;
margin-left: 172px;
margin-top: -72px;
}

.play i{
  padding: 13px;
font-size: 45px;
}
/*Menu actor,musician...*/
.menu{
  
}

.menu ul{
  width: 400px;
text-align: justify;
margin: auto;
margin-top: 40px;
display: flex;
  justify-content: space-between;
}
.menu li{
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: .2rem;
  
}